body {
    padding: 0;
    margin: 0;
}

header {
    height: 35h;
    position: relative;
    margin-bottom: 3rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), url('header_background.jpg');
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.blog-title-container {
    text-align: center;
    color: #fff;
}

.blog-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.blog-sub-title {
    font-size: 2rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.blog-posts-container {
    margin-bottom: 3rem;
}

.blog-post-form {
    padding-top: 2rem;
    margin-bottom: 5rem;
}